<%- include('./src/head') %>
<br><br><br><br><br><br><br>
<div>
  <center>
    <h1 style="color:#ffffff;"> Başlık   </h1>
      <p style="color:#BFBFBF; font-size: 21px;"> Açıklama  </p>
      <table>
        <tr>
        <td>
           <button class="btn" onclick="window.location.href = '/panel/<%= getuser.id %>'" ><span style="color:#ffffff;">Kullanıcı panelim</span></button>
          </td>
          <td> &nbsp;&nbsp;&nbsp;</td>
          <td>
              <button class="btn2" onclick="window.location.href = '/codes'"> Kodlar </button>
              </td>
        </tr>
      </table>
    </center>
</div>



<script>
  var socket = io();

socket.emit('onlineuser',{
name:`<%= getuser.name %>`,
ıd:`<%= getuser.userıd%>`
});


socket.on('onlineuser', function (msg) {
alert(msg.name)
});
</script>