<%- include('../src/head') %>
<br><br><br><br><br><br><br>
<div>
  <center>
    <h1 style="color:#ffffff;"> Başlık   </h1>
      <p style="color:#BFBFBF; font-size: 21px;"> Açıklama  </p>
    </center>
</div>



<div class="container">
	<div class="kutu">
  <center>
    <img class="resimKapsulu" src="./img/download.png"> <br>
    <h2> Discord.js </h2>
 <p style="font-size: 18px;"> 
  <b>
Discord.js kodları <a href="/code/discordjs">("TIKLA BANA")</a>
   </b>
    </p>
    
    </center>
  </div>

  <div class="kutu">
    <center>
      <img class="resimKapsulu" src="w"> <br>
      <h2> Title </h2>
   <p style="font-size: 18px;"> 
    <b>
   .....
     </b>
      </p>
      
      </center>
    </div>
 
</div> 


<style>
    .resimKapsulu{border:2px solid #999; width:85px; height:85px; -webkit-border-radius:12px; -moz-border-radius:12px; border-radius:12px;}
	.resimKapsulu img{width:75px; height:75px; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;}

          .boşluk{
            width: 55px;
		
        }
        .boşlukumsu{
            width: 315px;
		height: 295px;
        }

        .container{
		width: 90%;
		padding: 20px;
		margin: 100px auto;
		background: #2D3033;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.kutu{
    color:#cecece;
		width: 315px;
		height: 295px;
		background: #2D3033;
    margin: 0px 10px;
    transition: 1s;
 border-radius:5px;
	}
	.kutu:hover{
        color: rgb(218, 213, 213);
 border-radius:10px;
		transform: scale(1.1);
		background: #2d353d;
		z-index: 2;
		box-shadow: 4px 4px 4px #984FBD;
		
	}
</style>